<!DOCTYPE html>
<html>
<head>
	<title>Passwordless - Step 2</title>
</head>
<body>
	<h1>E-mail send to <%= email %></h1>
	<p>Please login with the following link:</p>
	<p><a href="http://localhost:1337/auth/<%= authcode %>">http://localhost:1337/auth/<%= authcode %></a></p>
</body>
</html>