<!DOCTYPE html>
<html>
<head>
	<title>Passwordless - Step 4</title>
</head>
<body>
	<h1>Profile</h1>
	<form action="/profile" method="post">
		<p>
			<label for="name">Your name:</label>
			<input type="text" name="name" id="name">
		</p>
		<p>
			<label for="age">Your age:</label>
			<input type="number" name="age" id="age">
		</p>
		<p>
			<button type="submit">Next</button>	
		</p>
	</form>
</body>
</html>