<!DOCTYPE html>
<html>
<head>
	<title>Passwordless - Login</title>
</head>
<body>
<form action="/start" method="post">
	<label for="email">E-mail adres:</label>
	<input type="email" name="email" id="email">
	<button type="submit">Volgende</button>	
</form>
</body>
</html>