<div class="footer container">
	<div class="row">
		<div class="col span-6 offset-3 text-center">
			&copy; 2014 - Vincent Bremer
		</div>
		<div class="col span-3 text-right">
			Feedbackspel.nl
		</div>
	</div>
</div>