<div class="logo">
	<a href="/"><img src="/img/logo_wide.svg"></a>
</div>
<div class="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="#">Over</a></li>
		<li><a href="/login">Login</a></li>
	</ul>
</div>