<div class="header">
	<div class="logo">
		<a href="/"><img src="/img/badge.svg"></a>
	</div>
	<div class="menu">
		<ul>
			<!-- <li><a href="#">Over</a></li> -->
			<li><a href="/login">Inloggen</a></li>
		</ul>
	</div>
</div>