<div class="container">
	<a href="/" class="logo"><img src="/img/badge.svg"></a>
	<ul class="menu">
		<% if (user) { %>
			<li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
			<li><a href="/logout"><i class="fa fa-sign-out"></i> Uitloggen</a></li>
		<% } else {%>
			<li><a href="/login"><i class="fa fa-sign-in"></i> Inloggen</a></li>
		<% } %>
	</ul>
</div>