<div class="container">
	<a href="/" class="logo">
		<img src="/img/logo.png">
		<!-- <svg height="100%" viewBox="0 0 423.22 264">
			<path class="logo-fill" style="fill-opacity:1" d="M 423.2188,0 284.8126,0.3124 321.5,28 275.5626,60.5312 C 246.8967,32.6949 201.378,15.625 153.125,15.625 72.238,15.625 0,63.3328 0,128.59367 c 0,23.14674 9.4355,45.86484 26.125,63.50004 0.7049,20.6655 -13.049,50.3134 -25.4374,71.9063 33.2028,-5.3073 80.4045,-17.028 101.8124,-28.625 117.2775,25.2383 202.8955,-37.81 203.75,-105.75004 L 365.625,87.5624 381.4688,131.96867 423.2188,0 z M 401.3126,16.75 378,90.4062 368.6563,64.1874 226.2813,161.53121 a 20.002,20.002 0 0 1 -20.4063,1.2812 L 151.9376,135.21867 90.3438,183.03121 A 20.002,20.002 0 1 1 65.8126,151.43741 L 137.4688,95.8124 a 20.002,20.002 0 0 1 21.375,-2 l 54.6875,28 130.9063,-89.5 -20.375,-15.375 77.25,-0.1874 z" />
		</svg> -->
	</a>
	 <ul class="menu">
		<% if (user) { %>
			<li><a href="/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
			<li><a href="/logout"><i class="fa fa-sign-out"></i> <span>Uitloggen</span></a></li>
		<% } else {%>
			<!-- <li><a href="/login"><i class="fa fa-sign-in"></i> <span>Inloggen</span></a></li> -->
		<% } %>
	</ul>
</div>