<div class="navigation">
	<ul>
		<li class="title">Ga naar:</li>
		<li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a href="/register"><i class="fa fa-user"></i> Registreren</a></li>
		<li><a href="/login"><i class="fa fa-sign-in"></i> Inloggen</a></li>
		<li><a href="/logout"><i class="fa fa-sign-out"></i> Uitloggen</a></li>
	</ul>
</div>