<% include sidebar %>
<div class="site-wrapper">
	<div class="header-wrapper">
		<div class="header container">
			<a href="<%= user ? '/dashboard' : '/' %>" class="header-logo">
				<img src="/img/logo.png" width="64" height="40">
			</a>
			<% if (show_sidebar) { %>
				<a href="#" class="nav-toggle">
					<img src="/img/icon-menu.png" width="34px" height="26px">
				</a>
			<% } %>
		</div>
	</div>