<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body class="client">
<% include ../includes/top %>
<div class="content-wrapper">
	<div class="content container" id="users">
		
	</div>
</div>
<% include ../includes/bottom %>

<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/template" id="users-tpl">
	<ul class="player-list">
		{{#each users}}
			<li class="player">
				<div class="avatar"><img src="/img/avatars/{{_id}}.jpg"></div>
				<div class="name">{{firstname}}</div>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</li>
		{{/each}}
	</ul>
</script>
<script type="text/javascript">
	// var base_url = 'http://' + (window.location.hostname == 'localhost' ? 'localhost' : 'feedbackspel.nl');
	// var token = Cookies.get('fbs_token');
	// var socket = io(base_url + ':1337', { query: 'token=' + token + '&role=client' });

	var users = [
		{ _id: 1, firstname: 'George' },
		{ _id: 2, firstname: 'Emma' },
		{ _id: 3, firstname: 'Morgan' },
		{ _id: 4, firstname: 'Zooey' },
		{ _id: 5, firstname: 'Gerard' }
	];

	var UsersList = new Ractive({
		el: 'users',
		template: '#users-tpl',
		data: { users: users }
	});

	// socket.on('users.list', function(users) {
	// 	UsersList.set('users', users)
	// });
</script>