<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body class="ingame client">
<% include ../includes/sidebar %>
<div class="site-wrapper">
	<a href="#" class="nav-toggle">
		<img src="/img/icon-menu.png" width="34px" height="26px">
	</a>
	<div class="content container" id="content">
		
	</div>
</div>
<% include ../includes/scripts %>

<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="template">
	<h1>Connected: <%= user.firstname %></h1>
	<a href="#" on-click="ready">Ready!</a>
</script>

<script type="text/javascript">
	var token = Cookies.get('fbs_token');
	var url = 'http://' + window.location.hostname + ':1337';
	var socket = io(url, { query: 'token=' + token + '&role=client' });

	var Player = new Ractive({
		el: 'content',
		template: '#template',
		data: {}
	});

	Player.on({
		ready: function(evt) {
			socket.emit('user.ready');
			evt.original.preventDefault();
		}
	});
</script>