<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body class="ingame client">
<% include ../includes/sidebar %>
<div class="site-wrapper">
	<a href="#" class="sidebar-toggle">
		<img src="/img/icon-menu.png" width="34px" height="26px">
	</a>
	<div class="content container" id="content">
	</div>
</div>
<% include ../includes/scripts %>

<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="template">
	{{#if waiting}}
		<div class="loading" intro-outro="fade">
			<div class="spinner">
				<i class="fa fa-spin fa-spinner"></i>
			</div>
			Een ogenblik geduld, het spel gaat verder zodra alle spelers klaar zijn.
		</div>
	{{/if}}
	{{#if ingame}}
		<div class="player-select" intro-outro="fade">
			<h1>Selecteer:</h1>
			<ul class="players">
				{{#each players}}
					{{#if (_id != '<%= user._id %>')}}
						<li intro="slide:{delay:200}">
							<div class="avatar"><img src="/avatar/{{_id}}.png"></div>
							<div class="name">{{firstname}} {{lastname}}</div>
							<div class="rating">
								<a href="#" on-tap="setRating:1"><i class="fa {{ratings[_id] >= 1 ? 'fa-star' : 'fa-star-o'}}"></i></a>
								<a href="#" on-tap="setRating:2"><i class="fa {{ratings[_id] >= 2 ? 'fa-star' : 'fa-star-o'}}"></i></a>
								<a href="#" on-tap="setRating:3"><i class="fa {{ratings[_id] >= 3 ? 'fa-star' : 'fa-star-o'}}"></i></a>
								<a href="#" on-tap="setRating:4"><i class="fa {{ratings[_id] >= 4 ? 'fa-star' : 'fa-star-o'}}"></i></a>
								<a href="#" on-tap="setRating:5"><i class="fa {{ratings[_id] >= 5 ? 'fa-star' : 'fa-star-o'}}"></i></a>
							</div>
						</li>
					{{/if}}
				{{/each}}
			</ul>
			<div class="actions">
				<a href="#" class="btn confirm" on-click="ready"><i class="fa fa-check"></i> Ik ben klaar</a>
			</div>
		</div>
	{{/if}}
</script>

<script type="text/javascript">
	var token = Cookies.get('fbs_token');
	var url = 'http://' + window.location.hostname + ':1337';
	var socket = io(url, { query: 'token=' + token + '&role=client' });

	var Player = new Ractive({
		el: 'content',
		template: '#template',
		data: {
			players: [],
			ratings: {},
			ingame: true,
			waiting: false
		}
	});

	Player.on({
		ready: function(evt) {
			var ratings = Player.get('ratings');
			Player.set('ingame', false).then(function() {
				Player.set('waiting', true);
				Player.set('ratings', {});
			});
			socket.emit('user.ready', ratings);
			evt.original.preventDefault();
		},
		setRating: function(evt, rating) {
			Player.set('ratings.' + evt.context._id, rating);
			evt.original.preventDefault();
		}
	});

	socket.on('users.updated', function(users) {
		Player.set('players', users);
	});

</script>