<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body class="ingame host">
<% include ../includes/sidebar %>
<div class="site-wrapper">
	<a href="#" class="sidebar-toggle">
		<img src="/img/icon-menu.png" width="34px" height="26px">
	</a>
	<div id="game">
	</div>
</div>
<% include ../includes/scripts %>

<script type="text/javascript" src="/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="game-tpl">
	<div class="card">
		{{#if ready}}
			<a href="#" on-click="next">Volgende kaart</a>
		{{else}}
			{{card}}
		{{/if}}
	</div>

	<div class="players">
		<ul>
			{{#each players}}
				<li class="player{{ready ? ' ready' : ''}}" intro-outro="fly:{ x: 0, y: 150 }">
					<div class="avatar">
						<img src="/avatar/{{_id}}.png">
					</div>
					<div class="name">
						{{firstname}} {{lastname}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</script>


<script type="text/javascript">
	var token = Cookies.get('fbs_token');
	var url = 'http://' + window.location.hostname + ':1337';
	var socket = io(url, { query: 'token=' + token + '&role=host' });

	//==================

	var Game = new Ractive({
		el: 'game',
		template: '#game-tpl',
		data: {
			card: 'Bescheiden',
			ready: false,
			players: [],
		}
	});

	Game.on({
		next: function(evt) {
			socket.emit('round.next');
			evt.original.preventDefault();
		}
	});

	//==================

	socket.on('users.updated', function(users) {
		Game.set('players', users);
	});

	socket.on('users.ready', function(ready) {
		var players = Game.get('players').length;
		Game.set('ready', (ready == players && players > 0));
	});

	// socket.on('card.new', function(card) {
	// 	Game.set('ready', false);
	// 	Game.set('card', card);
	// });
</script>