<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body>
<% include ../includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row section">
			<div class="box col span-12" id="users">
				<!-- UserList -->
			</div>
		</div>
	</div>
</div>
<% include ../includes/bottom %>

<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/template" id="users-tpl">
	<h2>Verbonden gebruikers:</h2>
	<ul>
		{{#each users}}
			<li>{{firstname}} {{lastname}} ({{email}})</li>
		{{/each}}
	</ul>
</script>
<script type="text/javascript">

	var base_url = 'http://' + (window.location.hostname == 'localhost' ? 'localhost' : 'feedbackspel.nl');
	var token = Cookies.get('fbs_token');
	var socket = io(base_url + ':1337', { query: 'token=' + token + '&role=host' });

	var UsersList = new Ractive({
		el: 'users',
		template: '#users-tpl',
		data: { users: [] }
	});

	socket.on('users.list', function(users) {
		UsersList.set('users', users)
	});
</script>