body {
	/*background: #FFF0C8 url('../images/linedpaper.png') repeat top left;*/
	background: #f2f2f2 url('../images/furley_bg.png') repeat top left;
}

.container {
	margin: 0px auto;
	max-width: 1200px;
}

.header-wrapper {
	border-top: 2px solid #FFD800;
	background: #333 url('../images/debut_dark.png') repeat top left;
}

.header {
	padding: 0 20px;
}

.logo {
	height: 32px;
	margin: 10px 0;
}

.header .logo:hover {
	opacity: 0.8;
}

.login {
	/*background: #f2f2f2 url('../images/furley_bg.png') repeat top left;*/
	margin: 15px auto;
	max-width: 400px;
	/*box-shadow: 0 0 5px #B2B2B2;*/
}

.form {
	padding: 20px;
}

/*-------------------------------------
-- Responsiveness
-------------------------------------*/

@media screen and (max-width: 720px) {
	.row > .col {
		width: 100%;
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
}