*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html, body, table, input, textarea, button, ul, li {
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #444;
}

html, body {
	background-color: #fff;
}

a {
	color: #0072C6;
	text-decoration: none;
}

a:hover, a:active {
	color: #005CA0;
	text-decoration: underline;
}

h1 {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 4px;
	font-size: 2em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 2px;
}

p, ul, table {
	margin: 0 0 10px 0;
}

table {
	border-collapse: collapse;
	/*width: 100%;*/
}

th, td {
	padding: 6px 15px 6px 4px;
	text-align: left;
}

th {
	font-weight: bold;
}

thead th {
	border-bottom: 1px solid #f2f2f2;
}

tbody tr:hover td {
	background-color: #F0E9F0;
}

ul {
	padding-left: 20px;
}

p {
	margin: 0 0 15px 0;
}

p.form-row {
	margin: 0 0 6px 0;
}

p.form-row label {
	display: inline-block;
	width: 150px;
	padding: 5px 0;
}

input.text {
	border: 1px solid #ccc;
	padding: 5px 8px;
	width: 250px;
	border-radius: 3px;
}

.button, a.button {
	padding: 5px 20px;
	border: none;
	background-color: #0072C6;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
}

.button:hover, a.button:hover {
	background-color: #006CBB;
}

.nav {
	position: fixed;
	height: 100%;
	width: 120px;
	top: 0;
	left: 0;
	padding: 20px 10px;
	background-color: #61405F;
	box-shadow: 0 0 3px #808080;
}

.nav a {
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	color: #ccc;
	text-align: center;
	border-top: 1px solid #664B64;
	border-bottom: 1px solid #572E54;
}

.nav a:first-child {
	border-top: none;
}

.nav a:last-child {
	border-bottom: none;
}

.nav a:hover {
	color: #fff;
}

.content {
	padding: 20px 30px 20px 150px;
}