<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
<% include includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row">
			<div class="box col span-6 offset-3" id="form">
				<!-- The login form will be rendered here -->
			</div>
		</div>
	</div>
</div>
<% include includes/bottom %>

<script type="text/template" id="form-template">
	<h1>Inloggen</h1>
	{{#if message.error}}
		<div class="flash-error" intro="slide">{{message.error}}</div>
	{{/if}}
	{{#if message.success}}
		<div class="flash-success" intro="slide">{{message.success}}</div>
	{{/if}}
	<form action="/api/login" method="post" on-submit="send">
		<div class="form-group">
			<label for="email">E-mail adres:</label><br>
			<input type="email" name="email" value="{{input.email}}" class="text" id="email">
		</div>
		<div class="form-group">
			<label for="password">Wachtwoord:</label><br>
			<input type="password" name="password" value="{{input.password}}" class="text" id="password">
		</div>
		<div class="form-group">
			<button class="btn confirm"><i class="fa fa-sign-in"></i> Inloggen</button>
		</div>
		<div class="form-group">
			<a href="/wachtwoord-vergeten">Wachtwoord vergeten?</a> |
			<a href="/registreren">Registreren</a>
		</div>
	</form>
</script>
<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>