<html>
<head>
	<title>SPA</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="nav">
		<a href="/">Home</a>
		<a href="/users">Users</a>
		<a href="/sessions">Sessions</a>
		<a href="/logout">Logout</a>
	</div>
	<div class="content" id="content">
		<!-- Content will be rendered here -->
	</div>
	<script type="text/javascript" src="/ractive.min.js"></script>
	<script type="text/javascript" src="/ractive-plugins.js"></script>
	<script type="text/javascript" src="/page.js"></script>
	<script type="text/javascript" src="/qwest.min.js"></script>
	<script type="text/javascript" src="/main.js"></script>
</body>
</html>