<div class="site-wrapper">
	<div class="header-wrapper">
		<div class="header container">
			<a href="/" class="header-logo">&nbsp;</a>
			<ul class="header-nav">
				<% menuItems.forEach(function(item) { %>
					<li>
						<a href="<%= item.url %>">
							<i class="fa fa-fw <%= item.classname %>"></i> <span><%= item.label %></span>
						</a>
					</li>
				<% }); %>
			</ul>
		</div>
	</div>