<div class="site-wrapper">
	<div class="header-wrapper">
		<div class="header container">
			<a href="/" class="header-logo">&nbsp;</a>
			<ul class="header-nav">
				<% if (user) { %>
					<li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
				<% } else { %>
					<li><a href="/start"><i class="fa fa-sign-in"></i> Spel starten</a></li>
				<% } %>
			</ul>
		</div>
	</div>