extends ../layout/base
block content
	h1 Users
	table.horizontal.striped.hover
		thead
			tr
				th E-mailadres
				th Voornaam
				th Achternaam
				th Geslacht
		tbody
			each user in users
				tr
					td= user.email
					td= user.firstname
					td= user.lastname
					td= user.gender == 'm' ? 'Man' : 'Vrouw'