<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body>
	<% include ../includes/navigation %>

	<div class="site-wrapper">
	
		<div class="header-wrapper">
			<% include ../includes/header %>
		</div>

		<div class="content-wrapper">
			<div class="content container">

				<h1>Gebruikers</h1>
				
				<div class="row section">
					<div class="box col span-12">
						Hmmm
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-wrapper">
			<% include ../includes/footer %>
		</div>
	</div>
	
	<% include ../includes/scripts %>
</body>
</html>