<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
	<div class="header-wrapper">
		<div class="container">
			<a href="/" class="logo"><img src="/img/badge.svg"></a>
			<ul class="menu">
				<% if (user) { %>
					<li><a href="/logout"><i class="fa fa-sign-out"></i> Uitloggen</a></li>
				<% } else {%>
					<li><a href="/login"><i class="fa fa-sign-in"></i> Inloggen</a></li>
				<% } %>
			</ul>
		</div>
	</div>
	<div class="site-wrapper">
		<div class="content-wrapper">
			<div class="content container" id="content">
				<!-- CONTENT -->
			</div>
		</div>
		<div class="footer-wrapper">
			<% include includes/footer %>
		</div>
	</div>
</body>
</html>