<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body class="home">
	<% include ../includes/top %>
	<div class="content-wrapper">
		<div class="container">
			<div class="home-center">
				<div class="logo">
					<img src="/img/banner.png">
				</div>

				<div id="info">
					<!-- Info will be rendered here -->					
				</div>
			</div>
		</div>
	</div>
	<% include ../includes/bottom %>
	<script type="text/template" id="info-tpl">
		{{#if show_front}}
			<div class="info front" intro="fly:{ x: -300, y: 0, duration: 350 }" outro="fly:{ x: -300, y: 0, duration: 350 }">
				<h1>Werk je samen in een team en wil je graag weten hoe anderen over je denken?</h1>
				<p>Na het registreren van een gratis account kun je op deze website een feedbacksessie starten samen met je teamgenoten.</p>
				<p>Deze feedback maakt inzichtelijk waar je sterke en zwakke punten liggen, en bied waardevolle informatie om jezelf verder te kunnen ontwikkelen.</p>
				<button on-tap="showMore">Meer informatie <i class="fa fa-angle-double-right"></i></button>
			</div>
		{{/if}}
		{{#if show_back}}
			<div class="info back" intro="fly:{ x: 300, y: 0, duration: 350 }" outro="fly:{ x: 300, y: 0, duration: 350 }">
				<h1>Bètaversie komt binnenkort online!</h1>
				<p>Momenteel wordt hard gewerkt om de applicatie zo spoedig mogelijk te lanceren. Kun je niet wachten en wil je nu direct een feedbacksessie houden? Kijk dan eens naar het <a href="/kernkwadranten">kernkwadrantenspel</a>!</p>
				<button on-tap="back"><i class="fa fa-angle-double-left"></i> Terug</button>
			</div>
		{{/if}}
	</script>
	<script type="text/javascript">
	var info = new Ractive({
		el: "info",
		template: '#info-tpl',
		data: {
			show_front: true,
			show_back: false
		}
	});

	info.on({
		showMore: function(evt) {
			info.toggle('show_front').then(function() {
				info.toggle('show_back');
			});
			evt.original.preventDefault();
		},
		back: function(evt) {
			info.toggle('show_back').then(function() {
				info.toggle('show_front');
			});
			evt.original.preventDefault();
		}
	});
	</script>
</body>
</html>