{{#if message}}
	<div class="flash-success" intro-outro="slide">
		{{message}}
	</div>
{{/if}}
<div class="responsive-table">
	<table>
		<thead>
			<tr>
				<th>Email</th>
				<th style="width: 170px">Firstname</th>
				<th style="width: 170px">Lastname</th>
				<th style="width: 100px"></th>
				<th style="width: 110px"></th>
			</tr>
		</thead>
		<tbody>
			{{#each users}}
				<tr>
					<td>
						<input type="text" class="text" value="{{email}}" on-change="save:{{this}}">
					</td>
					<td style="width: 170px">
						<input type="text" class="text" value="{{firstname}}" on-change="save:{{this}}">
					</td>
					<td style="width: 170px">
						<input type="text" class="text" value="{{lastname}}" on-change="save:{{this}}">
					</td>
					<td style="width: 100px" class="align-center">
						<label><input type="checkbox" checked="{{admin}}" class="checkbox" on-click="save:{{this}}"> admin</label><br>
						<label><input type="checkbox" checked="{{image}}" class="checkbox" on-click="save:{{this}}"> avatar</label>
					</td>
					<td style="width: 110px" class="align-right small">
						<a class="text-red" on-click="remove:{{this}}">Delete user <i class="fa fa-trash-o"></i></a><br>
						{{moment(updated_at).format('D-M-\'YY HH:mm')}} <i class="fa fa-clock-o"></i>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>