doctype html
html(lang="en")
	head
		title Feedbackspel.nl
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="keywords", content="feedbackspel feedback spel online game reflectie team samenwerken")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600", rel="stylesheet", type="text/css")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
		link(rel="stylesheet", href="/css/stylesheet.css")
		link(rel="shortcut icon", type="image/png", href="/favicon.png")
		block head
	body
		div.header-wrapper
			div.container
				div.header.row
					a.logo(href="/")
						img(src="/img/logo.png")
					button.nav-toggle
						i.fa.fa-bars
					ul.nav
						if logged_in
							li
								a(href="/dashboard") <i class="fa fa-fw fa-home"></i> Dashboard
							li
								a(href="/profile") <i class="fa fa-fw fa-user"></i> Profiel
							li
								a(href="/logout") <i class="fa fa-fw fa-sign-out"></i> Uitloggen
						else
							li
								a(href="/login"): <i class="fa fa-fw fa-sign-in"></i> Inloggen
		div.content-wrapper
			div.container
				div.content
					block content
		div.footer-wrapper
			div.container
				div.footer.row
					div.col.span-12.align-center © 2014 Feedbackspel.nl - Vincent Bremer
		script(type='text/javascript').
			var base_url = 'http://localhost:1337'
		script(type='text/javascript', src="/js/libs/jquery.min.js")
		script(type='text/javascript', src="/js/functions.js")
		block scripts