doctype html
html(lang="nl")
	head
		title Feedbackspel.nl
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="/css/font-awesome.min.css", type="text/css")
		link(rel="stylesheet", href="/css/stylesheet.css", type="text/css")
		link(rel="shortcut icon", href="/favicon.png")
		block head
	body
		div.header-wrapper
			div.header.container
				a.logo(href="/") <img src="/img/bubble.png"> Feedbackspel.nl
				button.nav-toggle <i class="fa fa-bars"></i>
				ul.nav
					if (logged_in)
						li: a(href="/game") <i class="fa fa-gamepad"></i> Nieuw spel
						li: a(href="/dashboard") <i class="fa fa-home"></i> Dashboard
						li: a(href="/profile") <i class="fa fa-user"></i> Profiel
						li: a(href="/") <i class="fa fa-sign-out"></i> Uitloggen
					else
						li: a(href="/login") <i class="fa fa-sign-in"></i> Inloggen
		div.content-wrapper
			block content
		div.footer
			div.container © 2014 Feedbackspel.nl - Vincent Bremer
		script(type='text/javascript', src="/js/libs/jquery.min.js")
		script(type='text/javascript', src="/js/libs/underscore-min.js")
		script(type='text/javascript', src="/js/main.js")
		block scripts