<html>
<head>
	<title>Passwordless login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>403 - Forbidden</h1>
	<p>You are not allowed to view this page!</p>

	<% include footer %>
</body>
</html>