<html>
<head>
	<title>Passwordless login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% include nav %>

	<h1>Dashboard</h1>
	<p>Welcome <strong><%= user.firstname %> <%= user.lastname %></strong>!</p>
	<p><%= user.email %></p>
</body>
</html>