<html>
<head>
	<title>Passwordless login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Dashboard</h1>
	<p>Welcome <%= user.firstname %> <%= user.lastname %>! (<%= user.email %>)</p>

	<% include footer %>
</body>
</html>