<html>
<head>
	<title>Passwordless login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Almost done!</h1>
	<p>Fill in the following form to start using the application.</p>
	<form action="/finish" method="post">
		<p class="form-row">
			<label for="firstname">Firstnaam:</label>
			<input type="text" name="firstname" id="firstname" class="text">
		</p>
		<p class="form-row">
			<label for="lastname">Lastname:</label>
			<input type="text" name="lastname" id="lastname" class="text">
		</p>
		<p class="form-row">
			<button type="submit" class="button">Next</button>
		</p>
	</form>

	<% include footer %>
</body>
</html>