<html>
<head>
	<title>Passwordless login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% include nav %>

	<script type="text/javascript" src="/page.js"></script>
	<script type="text/javascript">

	page('/test', function() {
		console.log('root');
	});

	page();

	</script>
</body>
</html>