<html>
<head>
	<title>Passwordless login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% include nav %>

	<h1>Users</h1>
	<div id="users">
		<!-- The users list will be rendered here -->
	</div>

	<script type="text/javascript" src="ractive.min.js"></script>
	<script type="text/javascript" src="qwest.min.js"></script>
	<script type="text/template" id="users-tpl">
		<table>
			<thead>
				<tr>
					<th style="width: 175px">ID</th>
					<th style="width: 250px">E-mail</th>
					<th style="width: 200px">Firstname</th>
					<th style="width: 200px">Lastname</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<td style="width: 175px">{{_id}}</td>
						<td style="width: 250px">{{email}}</td>
						<td style="width: 200px">{{firstname}}</td>
						<td style="width: 200px">{{lastname}}</td>
						<td style="text-align:right">
							<a href="#" on-click="remove:{{_id}}">Remove</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<a href="#" class="button" on-click="reload">Reload users</a>
	</script>
	<script type="text/javascript">
	var Users = new Ractive({
		el: 'users',
		template: '#users-tpl',
		data: { users: [] }
	});

	Users.on({
		reload: function(evt) {
			getUsers();
			evt.original.preventDefault();
		},
		showInfo: function(evt, user) {
			Users.toggle(evt.keypath + '.showInfo');
			evt.original.preventDefault();
		},
		remove: function(evt, userId) {
			qwest.post('/api/users/delete', { id: userId }).then(function(users) {
				Users.set('users', users);
			});
			evt.original.preventDefault();
		}
	});

	function getUsers() {
		qwest.get('/api/users').then(function(users) {
			Users.set('users', users);
		});
	}

	getUsers();

	</script>
</body>
</html>