body {
	font-size: 12px;
}

h1 {
	page-break-before: always;
	margin-top: 0;
}

h1:first-child {
	page-break-before: auto;
}

div.container-left {
	display: none;
}

div.container-right {
	margin: 0;
}

div.content {
	padding: 0 30px;
	width: 100%;
}