@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.eot');
	src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	     url('OpenSans-Regular.woff') format('woff'),
	     url('OpenSans-Regular.ttf') format('truetype'),
	     url('OpenSans-Regular.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Semibold.eot');
	src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	     url('OpenSans-Semibold.woff') format('woff'),
	     url('OpenSans-Semibold.ttf') format('truetype'),
	     url('OpenSans-Semibold.svg#open_sanssemibold') format('svg');
	font-weight: bold;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 175%;
	color: #444;
	background-color: #fff;
}

p, ul, ol, pre, table {
	margin-bottom: 10px;
}

p:last-child,
ul:last-child,
ol:last-child,
pre:last-child,
table:last-child {
	margin-bottom: 0;
}

h1 {
	font-size: 2em;
	margin: 40px 0 15px 0;
	padding-bottom: 10px;
	font-weight: bold;
	color: #55be78;
	border-bottom: 1px solid #e5e5e5;
}

h1:first-child {
	margin-top: 0;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 20px 0 15px 0;
	color: #55be78;
}

h3 {
	font-size: 1.3em;
	font-weight: normal;
	margin: 15px 0 5px 0;
}

h4 {
	font-style: italic;
}

a {
	color: #444;
	text-decoration: underline;
}

a:hover {
	color: #3D995C;
	text-decoration: underline;
}

table {
	width: 100%;
	table-layout: fixed;
}

th,
td {
	text-align: left;
	padding: 2px 10px 2px 0;
}

th {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left: 25px;
}

ol {
	margin-left: 25px;
	list-style-type: decimal;
}

ul ul,
ol ol {
	margin-bottom: 0;
}

li {
	padding-left: 5px;
}

hr {
	border: none;
	height: 1px;
	outline: none;
	background-color: #e5e5e5;
	margin: 15px 0;
}

img {
	max-width: 100%;
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}

pre,
code {
	font-family: consolas, monospace;
	line-height: 150%;
	font-size: 13px;
	background-color: #f2f2f2;
	border: 1px solid #e5e5e5;
}

pre {
	padding: 5px;
}

code {
	padding: 0 2px;
}

pre code {
	padding: 0 !important;
	border: none;
	background-color: transparent !important;
}

div.container-left {
	width: 300px;
	position: fixed;
	left: 0;
	height: 100%;
	background-color: #f2f2f2;
	overflow-y: scroll;
}

div.container-right {
	margin-left: 300px;
}

ul.toc {
	margin: 0;
	padding: 15px 10px 30px 10px;
	list-style-type: none;
}

ul.toc li {
	margin: 0;
	padding: 0;
}

ul.toc a {
	text-decoration: none;
	display: block;
}

ul.toc .heading-1 {
	font-weight: bold;
	border-top: 1px solid #DDDDDD;
	padding-top: 5px;
	margin-top: 5px;
}

ul.toc .heading-1:first-child {
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}

ul.toc .heading-2 {
	padding-left: 10px;
}

div.content {
	margin: 0px auto;
	width: 740px;
	padding: 10px 20px 30px 20px;
}

@page {
	size: auto;
	margin: 20mm 20mm 20mm 20mm;  
} 

@media (min-width: 1010px) and (max-width: 1200px) {
	div.container-left {
		width: 250px;
	}
	div.container-right {
		margin-left: 250px;
	}
}

@media (max-width: 1010px) {
	div.container-left {
		display: none;
	}
	div.container-right {
		margin-left: 0;
	}
}

@media print {
	body {
		font-size: 12px;
	}

	h1 {
		page-break-before: always;
		margin: 0 0 20px 0;
		padding: 0;
		color: #444;
		border-bottom: none;
	}

	h1:first-child {
		page-break-before: auto;
	}

	h2 {
		page-break-after: avoid;
		color: #444;
	}

	div.container-left {
		display: none;
	}

	div.container-right {
		margin: 0;
	}

	div.content {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.show-print {
		display: inherit;
	}

	.hide-print {
		display: none;
	}
}