<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
<% include includes/top %>
<div class="content-wrapper">
	<div class="not-found">
		<h1>404</h1>
		<h2>Pagina niet gevonden!</h2>
	</div>
</div>
<% include includes/bottom %>
</body>
</html>