<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
<% include includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row">
			<div class="box col span-9" id="content">
				:(
			</div>
			<div class="box col span-3">
				<h1>Menu</h1>
				<ul class="menu">
					<li><a href="/admin/users">Gebruikers</a></li>
					<li><a href="/admin/sessions">Sessies</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include includes/bottom %>
<script type="text/javascript" src="/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/js/libs/backbone.min.js"></script>

<script type="text/template" id="users-tpl">
	<h1>Gebruikers</h1>
	<div class="responsive-table">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Email</th>
					<th>Naam</th>
					<th>Gemaakt</th>
				</tr>
			</thead>
			<tbody>
				{{#each items}}
					<tr>
						<td><i class="fa {{gender == 'm' ? 'fa-male' : 'fa-female'}}"></i></td>
						<td>{{email}}</td>
						<td>{{firstname}} {{lastname}}</td>
						<td>{{created_at}}</td>
						<td class="icons">
							<a href="#" on-click="editUser:{{this}}"><i class="fa fa-edit"></i></a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	{{#if editing}}
		<div class="modal-overlay" intro-outro="fade:{ duration: 300 }" on-click="closeModal">
			<div class="modal" style="max-width: 768px" on-click="stopPropagation" intro-outro="fly:{ x: 0, y: -200, duration: 400 }">
				{{#if saving}}
					<div class="align-center">
						<h1>Gebruiker is opgeslagen!</h1>
						<p><i class="fa fa-spin fa-4x fa-spinner"></i></p>
					</div>
				{{else}}
					<div>
						<h1>Gebruiker bewerken</h1>
						<form on-submit="save">
							<div class="row">
								<div class="col span-8">
									<div class="form-group">
										<div class="label"><label for="email">E-mail adres:</label></div>
										<div class="field">
											<input type="text" name="email" value="{{editing.email}}" class="text" id="email">
											<i class="required"></i>
										</div>
									</div>

									<div class="form-group">
										<div class="label"><label for="firstname">Voornaam:</label><br></div>
										<div class="field">
											<input type="text" name="firstname" value="{{editing.firstname}}" class="text" id="firstname">
											<i class="required"></i>
										</div>
									</div>

									<div class="form-group">
										<div class="label"><label for="lastname">Achternaam:</label><br></div>
										<div class="field">
											<input type="text" name="lastname" value="{{editing.lastname}}" class="text" id="lastname">
											<i class="required"></i>
										</div>
									</div>

									<div class="form-group">
										<div class="label"><label for="password">Nieuw wachtwoord:</label><br></div>
										<div class="field">
											<input type="password" name="password" value="{{editing.password}}" class="text" id="password">
											<i class="required"></i>
										</div>
									</div>

									<div class="form-group">
										<div class="label"><label>Geslacht:</label><br></div>
										<div class="field">
											<label><input type="radio" name="{{editing.gender}}" value="m" class="radio"> Man</label>
											<label><input type="radio" name="{{editing.gender}}" value="f" class="radio"> Vrouw</label>
											<i class="required"></i>
										</div>
									</div>

									<div class="form-group">
										<button class="btn confirm"><i class="fa fa-save"></i> Opslaan</button>
										<a href="#" class="text-red" on-click="delete:{{editing}}">Verwijderen</a>
									</div>
								</div>
								<div class="col span-4 align-right" style="padding-left: 10px">
									<img src="/avatar/{{editing._id}}.png">
								</div>
							</div>
						</form>
					</div>
				{{/if}}
			</div>
		</div>
	{{/if}}
</script>

<script type="text/template" id="session-tpl">
	<h1>Sessies</h1>
</script>

<script type="text/javascript">
var Router = Backbone.Router.extend({
	routes: {
		'admin': 'users',
		'admin/users': 'users',
		'admin/sessions': 'sessions'
	},

	users: function() {
		var Users = new Ractive({
			el: 'content',
			template: '#users-tpl',
			data: {
				items: [],
				editing: null,
				deleting: null,
				saving: false
			}
		});

		Users.on({
			editUser: function(evt, user) {
				Users.set('editing', user);
				evt.original.preventDefault();
			},
			save: function(evt) {
				var user = Users.get('editing');
				$.post('/api/users/save', user, function(users) {
					Users.set('items', users);
				});
				Users.set('saving', true);
				setTimeout(function() {
					Users.set('editing', null).then(function() {
						Users.set('saving', false);
					});
				}, 2000);
				evt.original.preventDefault();
			},
			delete: function(evt, user) {
				$.post('/api/users/delete', user, function(users) {
					Users.set('items', users);
					Users.set('editing', null);
				});
				evt.original.preventDefault();
			},
			closeModal: function(evt) {
				Users.set('editing', null);
			},
			stopPropagation: function(evt) {
				evt.original.stopPropagation();
			}
		});

		$.getJSON('/api/users', function(users) {
			Users.set('items', users);
		});
	},

	sessions: function() {
		var SessionController = new Ractive({
			el: 'content',
			template: '#session-tpl'
		});
	}
});

$(function() {
	var router = new Router();
	Backbone.history.start({ pushState: true });
	$('.menu a').on('click', function(evt) {
		router.navigate($(this).attr('href'),  { trigger: true });
		evt.preventDefault();
	});
});
</script>
</body>
</html>