extends layout/base
block content
	div.page-title
		h1 Dashboard
	div.container
		div.section
			a.btn-confirm(href="/game") <i class="fa fa-gamepad"></i> Nieuw spel starten
		div.section#results
			
block scripts
	script(type="text/template", id="result-tpl").
		<h2>Statistieken</h2>
		<table>
			<thead>
				<tr>
					<th>Feedbackkaart</th>
					<th>Ontvangen</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each sort(cards):i}}
					<tr>
						<td style="width: 300px">
							<a href="#" on-click="open" data-index="{{i}}" style="display:block">{{card}}</a>
							{{#if open}}
								<ul class="comments" intro-outro="slide">
									{{#each comments}}
										<li>{{.}}</li>
									{{/each}}
								</ul>
							{{/if}}
						</td>
						<td style="width: 150px">{{received}} keer</td>
						<td>
						<div class="bar">
							<div style="width:{{(received / highest() * 100)}}%" class="fill" intro="fade"></div>
						</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfoot>
				<tr>
					<td>Totaal ontvangen:</td>
					<td>{{totalReceived()}} kaarten</td>
				</tr>
			</tfoot>
		</table>
	script(type='text/javascript', src="/js/libs/ractive.min.js")
	script(type='text/javascript', src="/js/libs/ractive-transitions-fade.js")
	script(type='text/javascript', src="/js/libs/ractive-transitions-slide.js")
	script(type='text/javascript', src="/js/dashboard.js")