extends base
block content
	div.page-title
		h1 Dashboard
	div.container
		div.section(ng-app="myApp")
			h2 Statistieken
			table(ng-controller="AppCtrl")
				thead
					tr
						th Feedbackkaart
						th Ontvangen
						th
				tbody.ng-cloak
					tr(ng-repeat="result in results | orderBy:'-received'")
						td(style="width: 300px")
							a(ng-click="open(result)") {{ result.card }}
							ul.comments(ng-show="result.open")
								li(ng-repeat="comment in result.comments") "{{ comment }}"
						td(style="width: 150px") {{ result.received }} keer
						td
							div.bar
								div.fill(style="width:{{ (result.received / highest) * 300 }}px")
				tfoot
					tr
						td: button.btn(ng-click="add()") Toevoegen
block scripts
	script(type='text/javascript').
		require(['angular'], function(angular) {
			function randomWord() {
				var word = '', letters = "abcdefghijklmnopqrstuvwxyz";
				for (var i = 0; i < 8; i++) {
					word += letters.charAt(Math.floor(Math.random() * letters.length));
					if (i == 0) word = word.toUpperCase();
				}
				return word;
			}
			function randomNumber() {
				return Math.floor(Math.random() * 20);		
			}

			var app = angular.module('myApp', []);

			app.controller('AppCtrl', function($scope) {
				$scope.highest = 0;
				$scope.results = [
					{ card: 'Kritisch', comments: ['Je kijkt kritisch naar eigen werk', 'Alles wat je oplevert moet goed werken'], received: 12 },
					{ card: 'Zelfverzekerd', comments: ['Je weet waar je het over hebt', 'Weinig twijfel bij je doen en laten'], received: 4 },
					{ card: 'Perfectionist', comments: ['Alles perfect enzo'], received: 10 },
					{ card: 'Leiderschap', comments: ['Je bent goed op weg, maar probeer meer overwicht te krijgen in de groep'], received: 1 },
					{ card: 'Stipt', comments: ['Je komt je afspraken na en bent vrijwel altijd op tijd'], received: 4 },
					{ card: 'Sociaal', comments: ['Prettig in omgang'], received: 7 },
					{ card: 'Behulpzaam', comments: ['Je heb veel kennis en vind het niet erg om dit te delen', 'Je neemt voor iedereen de tijd om dingen uit te leggen'], received: 9 },
					{ card: 'Laks', comments: [], received: 0 },
					{ card: 'Zwijgzaam', comments: ['Je mag jezelf soms wel wat meer laten horen', 'Probeer meer naar de voorgrond te reden'], received: 5 }
				];
				$scope.open = function(card) {
					card.open = !card.open;
				}
				$scope.add = function() {
					$scope.results.push({ card: randomWord(),  comments: ['Lorem'], received: randomNumber() });
				}

				$scope.$watch('results', function() { 
					$scope.highest = 0;
					for (var i = 0; i < $scope.results.length; i++) {
						if ($scope.results[i].received > $scope.highest)
							$scope.highest = $scope.results[i].received;
					}
					
				}, true)
			});
		});