extends layout/base
block content
	div.page-title
		h1 Dashboard
	div.container
		div.section(ng-app="feedbackspel", ng-controller="DashboardCtrl")
			h2 Statistieken
			table
				thead
					tr
						th Feedbackkaart
						th Ontvangen
						th
				tbody.results
block scripts
	script(type='text/javascript', src="/js/dashboard.js")