extends layout/base
block content
	div.page-title
		h1 Dashboard
	div.container
		div.section
			a.btn.confirm(href="/game") <i class="fa fa-gamepad"></i> Nieuw spel starten
		div.section
			h2 Statistieken
			table
				thead
					tr
						th Feedbackkaart
						th Ontvangen
						th
				tbody.results
block scripts
	script(type='text/javascript', src="/js/dashboard.js")