extends layout/base
block content
	div.page-title
		h1 Dashboard
	div.container
		div.section
			a.btn.confirm(href="/game") <i class="fa fa-gamepad"></i> Nieuw spel starten
		div.section
			h2 Statistieken
			table
				thead
					tr
						th Feedbackkaart
						th Ontvangen
						th
				tbody.results
		div.section(id="playground")
			
block scripts
	script(type="text/template", id="template").
		<h1>Hallo {{name}}!</h1>
		<input type="text" value="{{name}}" on-keyup="updateName">
	script(type='text/javascript', src="/js/libs/ractive.min.js")
	script(type='text/javascript', src="/js/dashboard.js")