<!DOCTYPE html>
<html lang="nl">
<head>
	<% include partials/head %>
</head>
<body class="dashboard">
<% include partials/top %>
<div class="content-wrapper">
	<div class="content container" id="content">
		<div class="row">
			<div class="col span-8 box" style="min-height: 240px;">
				<h1 id="title">
					Welkom, <span><%= user.firstname %></span>
					<% if (user.admin) { %>
						(<a href="/users"><i class="fa fa-lock"></i></a>)
					<% } %>
				</h1>
				<p class="align-center">
					<a class="game-btn btn confirm" id="host"><i class="fa fa-laptop"></i> Nieuw spel starten</a>
					<a class="game-btn btn confirm" id="join"><i class="fa fa-mobile"></i> Aan spel deelnemen</a>
				</p>
			</div>
			<div class="col span-4 box align-center" id="avatar" style="min-height: 240px;">
				<!-- AvatarSelect -->
			</div>
		</div>
		<div class="row">
			<div class="col span-12 box" id="profile">
				<!-- Profile will be rendered here -->
			</div>
		</div>
	</div>
</div>

<% include partials/bottom %>

<script type="text/template" id="avatar-tpl">
	<div class="select-avatar">
		{{#uploading}}
			<div class="message" intro="fade:{ duration: 250 }">
				<p><i class="fa fa-spinner fa-spin fa-4x"></i></p>
				<p>Afbeelding uploaden...</p>
			</div>
		{{/uploading}}
		{{#uploaded}}
			<div class="message" outro="fade:{ duration: 250 }">
				<p><i class="fa fa-check-circle fa-4x accent-color"></i></p>
				<p>Afbeelding geupload!</p>
			</div>
		{{/uploaded}}
		<form on-submit="upload" class="upload-form">
			<label class="file-input">
				<div>
					<div class="avatar avatar-preview" style="background-image: url('{{ image.base64 ? image.base64 : '/avatar/<%= user._id %>.png' }}')">
						
					</div>
				</div>
				<i class="fa fa-picture-o"></i> Selecteer afbeelding
				<input type="file" value="{{file}}" on-change="updatePreview">
			</label>
		</form>
	</div>
</script>

<script type="text/template" id="join-tpl">
	<div class="modal-overlay" on-click="closeModal" intro-outro="fade:{ duration: 300 }">
		<div style="padding: 0 10px">
			<!-- <div class="modal-close" on-click="closeModal"></div> -->
			<div class="modal" style="max-width: 400px" on-click="stopPropagation" intro-outro="fly:{ x: 0, y: -200, duration: 400 }">
				<h1>Voer de spelcode in:</h1>
				<form on-submit="send">
					<div class="form-group">
						<input type="tel" maxlength="4" value="{{code}}" id="code" class="text" autofocus>
					</div>
					<div class="form-group">
						<button class="btn confirm"><i class="fa fa-sign-in"></i> Deelnemen</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="profile-tpl">
	{{#editing}}
		<h1>Gegevens bewerken</h1>
		{{#if error}}
			<div class="flash-error" intro="slide">{{error}}</div>
		{{/if}}
		<form on-submit="save" style="max-width: 500px">
			<div class="form-group">
				<div class="label"><label for="email">E-mailadres:</label></div>
				<div class="field"><input type="text" value="{{editing.email}}" id="email" class="text" disabled></div>
			</div>
			<div class="form-group">
				<div class="label"><label for="firstname">Voornaam:</label></div>
				<div class="field"><input type="text" value="{{editing.firstname}}" id="firstname" class="text" autocomplete="off"></div>
			</div>
			<div class="form-group">
				<div class="label"><label for="lastname">Achternaam:</label></div>
				<div class="field"><input type="text" value="{{editing.lastname}}" id="lastname" class="text" autocomplete="off"></div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn confirm"><i class="fa fa-save"></i> Opslaan</button>
			</div>
			<hr>
			<a on-click="cancel"><i class="fa fa-angle-double-left"></i> Terug</a>
		</form>
	{{else}}
		<h1>Mijn gegevens <a class="icon" on-click="edit"><i class="fa fa-edit"></i></a></h1>
		<div style="max-width: 600px">
			<div class="form-group">
				<div class="label">E-mailadres:</div>
				<div class="field">{{user.email}}</div>
			</div>
			<div class="form-group">
				<div class="label">Voornaam:</div>
				<div class="field">{{user.firstname}}</div>
			</div>
			<div class="form-group">
				<div class="label">Achternaam:</div>
				<div class="field">{{user.lastname}}</div>
			</div>
		</div>
		<hr>
		<a href="/uitloggen"><i class="fa fa-sign-out"></i> Uitloggen</a>
	{{/editing}}
</script>
<script type="text/javascript" src="/js/select-avatar.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>