<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
	<div class="header-wrapper">
		<% include includes/header %>
	</div>
	<div class="site-wrapper">
		<div class="content-wrapper">
			<div class="content container">
				<h1>Welkom, <%= user.firstname %></h1>
				
				<% if (message) { %>
					<div class="flash-<%= message.type %>"><%- message.message %></div>
				<% } %>

				<div class="row">
					<div class="box col span-8">
						<h2>Resultaten</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel nostrum ad, deleniti facere iste eius error aspernatur necessitatibus illum nobis consequuntur quos earum atque ipsum, neque, pariatur numquam repellendus.</p>
					</div>
					<div class="box col span-4">
						<h2>Acties</h2>
						<ul>
							<li><a href="/kernkwadranten">Kernkwadranten test</a></li>
							<li><a href="/chat">Chat test</a></li>
							<li>Lorem ipsum</li>
							<li>Sapiente vel</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-wrapper">
			<% include includes/footer %>
		</div>
	</div>
</body>
</html>