<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="dashboard">
<% include includes/top %>
<div class="content-wrapper">
	<div class="content container">
		:)
	</div>
</div>
<% include includes/bottom %>
</body>
</html>