<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="ingame host">
<% include includes/sidebar %>
<div class="site-wrapper" id="game">
	<!-- The game will be rendered here -->
</div>
<% include includes/scripts %>

<script type="text/javascript" src="/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="game-tpl">
	<!-- <a href="#" title="Spel stoppen" class="exit-button" on-click="exit">
		<i class="fa fa-fw fa-times"></i>
	</a> -->

	{{#if step == 1}}
		<div class="step card">
			{{#if ready}}
				<a href="#" on-click="next">Volgende kaart</a>
			{{else}}
				<h1>{{round.number + 1}}: {{round.card}}</h1>
			{{/if}}
		</div>
	{{/if}}

	{{#if step == 2}}
		<div class="step results">
			<h1>Resultaten voor {{round.card}}</h1>
			<table>
				<thead>
					<tr>
						<th colspan="2">Voor</th>
						<th class="align-center">Rating</th>
					</tr>
				</thead>
				<tbody>
					{{#each results}}
						<tr>
							<td style="width: 70px;"><img src="/avatar/{{_id}}.png" alt=""></td>
							<td>{{firstname}}</td>
							<td style="width: 100px;" class="align-center">{{rating}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<a href="#" class="btn confirm" on-click="next">
				Volgende ronde <i class="fa fa-angle-double-right"></i>
			</a>
		</div>
	{{/if}}

	<div class="players">
		<ul>
			{{#each players}}
				<li class="player {{status}}" intro-outro="fly:{ x: 0, y: 150 }">
					<a href="#" class="remove" on-click="remove:{{this}}"><i class="fa fa-times"></i></a>
					{{#if step == 2}}
						<i class="fa fa-check check"></i>
					{{/if}}
					<div class="avatar">
						<img src="/avatar/{{_id}}.png">
					</div>
					<div class="name">
						{{firstname}} {{lastname}}
					</div>
					<div class="status">
						{{#if status == 'active'}}Verbonden{{/if}}
						{{#if status == 'disconnected'}}Verbinding verbroken{{/if}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</script>

<script type="text/javascript">
	var token = Cookies.get('fbs_token');
	var url = 'http://' + window.location.hostname + ':1337';
	var socket = io(url, { query: 'token=' + token + '&role=host' });

	var Game = new Ractive({
		el: 'game',
		template: '#game-tpl',
		data: {
			step: 1,
			round: { card: null, number: null },
			players: [],
			results: {}
		},
		noIntro: true
	});

	Game.on({
		next: function(evt) {
			socket.emit('round.next');
			evt.original.preventDefault();
		},
		remove: function(evt, user) {
			socket.emit('user.remove', user._id);
			evt.original.preventDefault();
		}
	});

	socket.on('users.updated', function(res) {
		Game.set('players', res.users);

		if (res.ready) {
			socket.emit('ratings.get', function(results) {
				var totals = {};
				_.each(results, function(result) {
					if ( ! totals[result.to._id]) {
						totals[result.to._id] = result.to;
						totals[result.to._id].rating = result.rating;
					} else {
						totals[result.to._id].rating += result.rating;
					}
				});

				var sorted = _.sortBy(totals, function(total) {
					return total.rating;
				}).reverse();
				
				Game.set('step', 2);
				Game.set('results', sorted);
			});
			// Game.set('step', 2);
		} else if(Game.get('step') != 1) {
			Game.set('step', 1);
		}
	});

	socket.on('round.next', function(round) {
		Game.set('round', round);
			Game.set('step', 1);
	});

</script>