<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="ingame host">
<% include includes/sidebar %>
<div class="site-wrapper" id="game">
	
</div>
<% include includes/scripts %>

<script type="text/javascript" src="/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="game-tpl">
	<a href="#" title="Spel stoppen" class="exit-button" on-click="exit">
		<i class="fa fa-fw fa-times"></i>
		<!-- <img src="/img/icon-menu.png" width="34px" height="26px"> -->
	</a>

	{{#if results}}
		<div class="results">
			{{#each results}}
				{{#each ratings}}
					{{.}}<br>
				{{/each}}
			{{/each}}
		</div>
	{{else}}
		<div class="card">
			{{#if ready}}
				<a href="#" on-click="next">Volgende kaart</a>
			{{else}}
				{{card}}
			{{/if}}
		</div>
	{{/if}}

	<div class="players">
		<ul>
			{{#each players}}
				<li class="player {{status}}{{ready ? ' ready' : ''}}" intro-outro="fly:{ x: 0, y: 150 }">
					
					<a href="#" class="remove" on-click="remove:{{this}}"><i class="fa fa-times"></i></a>
					{{#if ready}}
						<i class="fa fa-check check"></i>
					{{/if}}
					<div class="avatar">
						<img src="/avatar/{{_id}}.png">
					</div>
					<div class="name">
						{{firstname}} {{lastname}}
					</div>
					<div class="status">
						{{#if status == 'active'}}Verbonden{{/if}}
						{{#if status == 'disconnected'}}Verbinding verbroken{{/if}}
						{{#if status == 'left'}}Spel verlaten{{/if}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</script>

<script type="text/javascript">
	var token = Cookies.get('fbs_token');
	var url = 'http://' + window.location.hostname + ':1337';
	var socket = io(url, { query: 'token=' + token + '&role=host' });

	//==================

	var Game = new Ractive({
		el: 'game',
		template: '#game-tpl',
		data: {
			card: 'Bescheiden',
			results: [],
			players: []
		}
	});

	Game.on({
		next: function(evt) {
			socket.emit('round.next');
			evt.original.preventDefault();
		},
		remove: function(evt, user) {
			socket.emit('user.remove', user._id);
			evt.original.preventDefault();
		},
		exit: function(evt) {
			alert('Spel stoppen?');
			evt.original.preventDefault();
		}
	});

	//==================

	socket.on('users.updated', function(users) {
		console.log(users);
		Game.set('players', users);
	});

	socket.on('users.ready', function(total) {
		var players = Game.get('players').length;
		var ready = (total == players && players > 0);

		if (ready) {
			socket.emit('ratings.get');
		}
	});

	socket.on('ratings', function(results) {

		_.each(results, function(result) {
			_.each(result.ratings, function(rating, user_id) {
				console.log(user_id, rating);
			});
		});
		console.log(results);
		Game.set('results', results);
	});

	// socket.on('card.new', function(card) {
	// 	Game.set('ready', false);
	// 	Game.set('card', card);
	// });
</script>