<!DOCTYPE html>
<html lang="nl">
<head>
	<% include partials/head %>
</head>
<body class="ingame host">
<% include partials/sidebar %>
<div class="site-wrapper" id="game">
	<!-- The game will be rendered here -->
</div>
<% include partials/scripts %>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="game-tpl">
	<ul class="actions">
		<li><a on-click="toggleHelp" title="Uitleg &amp; informatie tonen"><i class="fa fa-info-circle"></i></a></li>
		<li>
			{{#if fullscreen}}
				<a on-click="exitFullscreen" title="Volledig scherm sluiten">
					<i class="fa fa-flip-horizontal fa-compress"></i>
				</a>
			{{else}}
				<a on-click="enterFullscreen" title="Spel in volledig scherm openen">
					<i class="fa fa-flip-horizontal fa-expand"></i>
				</a>
			{{/if}}
		</li>
		<li><a on-click="removeGame" title="Spel sluiten"><i class="fa fa-times"></i></a></li>
	</ul>

	{{#if step == 'showCard'}}
		<div class="game-title" intro-outro="fly:{ x: 0, y: -100 }">Voer je feedback in</div>
	{{/if}}
	{{#if step == 'showResults'}}
		<div class="game-title" intro-outro="fly:{ x: 0, y: -100 }">Resultaten</div>
	{{/if}}

	{{#if step == 'showCard'}}
		<div class="card" intro-outro="fade">
			{{card}}
		</div>
	{{/if}}

	{{#if step == 'showResults'}}
		<div class="results" intro-outro="fade">
			<h1>{{card}}</h1>

			<p class="question">{{question}}</p>

			{{#each summary:i}}
				<div class="result clearfix">
					<div class="position">{{i+1}}</div>
					<div class="avatar"><img src="/avatar/{{_id}}.png"></div>
					<div class="name">{{firstname}} {{lastname}}</div>
					<div class="stars">
						<i class="fa fa-star{{(rating >= 1) ? '' : '-o'}} rating"></i>
						<i class="fa fa-star{{(rating >= 2) ? '' : '-o'}} rating"></i>
						<i class="fa fa-star{{(rating >= 3) ? '' : '-o'}} rating"></i>
						<i class="fa fa-star{{(rating >= 4) ? '' : '-o'}} rating"></i>
						<i class="fa fa-star{{(rating >= 5) ? '' : '-o'}} rating"></i>
					</div>
				</div>
			{{/each}}

			<button class="btn confirm" on-click="nextRound">
				Resultaten besproken <i class="fa fa-check-square-o"></i>
			</button>

		</div>
	{{/if}}

	{{#if step == 'gameFinished'}}
		<div class="end" intro-outro="fade">
			<h1>Spel afgelopen</h1>
			<h2>Bedankt voor het spelen!</h2>
		</div>
	{{/if}}

	{{#if step == 'showCard'}}
		<div class="players-list">
			<ul>
				{{#each players}}
					<li class="player {{status}}" intro-outro="fly:{ x: 0, y: 150 }">
						{{#if step == 'feedbackSend'}}
							<i class="fa fa-check check"></i>
						{{/if}}
						<div class="name">
							{{firstname}} {{lastname}}
						</div>
						<div class="avatar">
							<img src="/avatar/{{_id}}.png">
						</div>
						<a href="#" class="remove" on-click="removePlayer:{{this}}" title="Deelnemer verwijderen uit spel">
							<i class="fa fa-sign-out"></i>
						</a>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

	<!-- <div class="restart">
		<a href="#" on-click="restartGame">Restart</a>
	</div> -->

	<div class="game-room">
		Spelcode: <span>{{room}}</span>
	</div>

	{{#if showHelp}}
		<div class="help modal-overlay" intro-outro="fade:{ duration: 300 }">
			<div class="help-content">
				<h1><i class="fa fa-info-circle"></i> Aan spel deelnemen:</h1>
				<div class="row">
					<div class="col span-9">
						<ol>
							<li>Om mee te spelen ga je op je smartphone of tablet naar: <a href="{{baseURL}}/{{room}}" target="_blank">feedbackspel.nl/{{room}}</a></li>
							<li>Vul je e-mail adres in en volg de stappen op het scherm.</li>
						</ol>
					</div>
					<div class="col span-3 align-right">
						<h2>Spelcode: <span class="gamecode">{{room}}</span></h2>
					</div>

				</div>
				<div class="row">
					<div class="col span-12">
						<h2>Deelnemers verbonden ({{players.length}}):</h2>
						<ul class="players">
							{{#each players}}
								<li intro-outro="fade">
									<div class="avatar">
										<img src="/avatar/{{_id}}.png">
									</div>
								 </li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
			<div class="help-dismiss">
				<button class="big-button" on-click="toggleHelp">Gelezen <i class="fa fa-check"></i></button>
			</div>
		</div>
	{{/if}}
</script>

<script type="text/javascript" src="/js/libs/mustache.min.js"></script>
<script type="text/javascript" src="/js/game-host.js"></script>