<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="ingame player">
<% include includes/sidebar %>
<div class="site-wrapper" id="content">
	<!-- Users will be rendered here -->
</div>
<% include includes/scripts %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="template">

	<ul class="actions">
		<li>
			<a href="/dashboard" title="Spel verlaten" on-click="leave">
				<i class="fa fa-fw fa-sign-out"></i>
			</a>
		</li>
	</ul>

	<div class="content container">
		{{#if step == 1}}
			{{#if opponents.length > 0}}
				<h1>{{card}}:</h1>
				<p class="stars-desc">
					{{#if stars.available > 0}}
						Je mag nog maximaal <strong>{{stars.available}} ster{{stars.available > 1 ? 'ren' : ''}}</strong> uitgeven.
					{{else}}
						Je hebt alle sterren uitgegeven.
					{{/if}}
				</p>
				<ul class="opponents">
					{{#each opponents}}
						<li class="clearfix">
							<div class="avatar"><img src="/avatar/{{_id}}.png"></div>
							<div class="name">{{firstname}} {{lastname}}</div>
							<div class="rating">
								<label class="star{{rating[_id] >= 1 ? ' selected' : ''}}{{(rating[_id] + stars.available < 1) ? ' disabled' : ''}}">
									<input type="radio" class="radio" name="rating[{{_id}}]" value="1" {{(rating[_id] + stars.available < 1) ? ' disabled' : '' }} on-click="setRating:{{this}}">
								</label>
	
								<label class="star{{rating[_id] >= 2 ? ' selected' : ''}}{{(rating[_id] + stars.available < 2) ? ' disabled' : ''}}">
									<input type="radio" class="radio" name="rating[{{_id}}]" value="2" {{(rating[_id] + stars.available < 2) ? ' disabled' : '' }} on-click="setRating:{{this}}">
								</label>

								<label class="star{{rating[_id] >= 3 ? ' selected' : ''}}{{(rating[_id] + stars.available < 3) ? ' disabled' : ''}}">
									<input type="radio" class="radio" name="rating[{{_id}}]" value="3" {{(rating[_id] + stars.available < 3) ? ' disabled' : '' }} on-click="setRating:{{this}}">
								</label>
								
								<label class="star{{rating[_id] >= 4 ? ' selected' : ''}}{{(rating[_id] + stars.available < 4) ? ' disabled' : ''}}">
									<input type="radio" class="radio" name="rating[{{_id}}]" value="4" {{(rating[_id] + stars.available < 4) ? ' disabled' : '' }} on-click="setRating:{{this}}">
								</label>

								<label class="star{{rating[_id] >= 5 ? ' selected' : ''}}{{(rating[_id] + stars.available < 5) ? ' disabled' : ''}}">
									<input type="radio" class="radio" name="rating[{{_id}}]" value="5" {{(rating[_id] + stars.available < 5) ? ' disabled' : '' }} on-click="setRating:{{this}}">
								</label>
							</div>
						</li>
					{{/each}}
				</ul>
				<div class="button-bar">
					<button class="btn confirm" on-click="ready"><i class="fa fa-check"></i> Ik ben klaar</button>
				</div>
			{{/if}}
		{{/if}}

		{{#if step == 2}}
			<div class="waiting">
				<h1>Feedback verzonden!</h1>
				<p><strong>{{playersReady}}</strong> van de <strong>{{opponents.length + 1}}</strong> spelers zijn klaar.. <i class="fa fa-spin fa-spinner"></i></p>
				<p><a href="#" on-click="changeRating">Mijn feedback aanpassen <i class="fa fa-edit"></i></a></p>
			</div>
		{{/if}}

		{{#if step == 3}}
			<div class="results">
				<h1>Ontvangen feedback:</h1>
				<ul>
					{{#each results}}
						<li>
							<div class="from">
								<div class="avatar"><img src="/avatar/{{from._id}}.png"></div>
								<div class="name">Van <strong>{{from.firstname}}</strong> kreeg je:</div>
							</div>
							<div class="rating">
								<i class="fa fa-star{{rating >= 1 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 2 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 3 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 4 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 5 ? '' : '-o'}}"></i>
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
	</div>

	{{#if step == 4}}
		<div class="end">
			EINDE!
		</div>
	{{/if}}

	<p class="reload">
		Blijft de pagina hangen?<br>
		<a on-click="reload">Klik hier</a> om te vernieuwen.
	</p>

</script>

<script type="text/javascript" src="/js/player.js"></script>
</body>
</html>