<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="ingame host">
<% include includes/sidebar %>
<div class="site-wrapper" id="game">
	<!-- The game will be rendered here -->
</div>
<% include includes/scripts %>

<script type="text/javascript" src="/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/js/libs/cookies.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="game-tpl">
	<!-- <a href="#" title="Spel stoppen" class="exit-button" on-click="exit">
		<i class="fa fa-fw fa-times"></i>
	</a> -->

	{{#if step == 1}}
		<div class="game-title" intro-outro="fly:{ x: 0, y: -150}">Voer je feedback in</div>
	{{/if}}
	{{#if step == 2}}
		<div class="game-title" intro-outro="fly:{ x: 0, y: -150}">Resultaten</div>
	{{/if}}

	{{#if step == 1}}
		<div class="step card" intro-outro="fade">
			{{#if ready}}
				<a href="#" on-click="next">Volgende kaart</a>
			{{else}}
				<h1>{{card}}</h1>
			{{/if}}
		</div>
	{{/if}}

	{{#if step == 2}}
		<div class="step results" intro-outro="fade">
			<table>
				<thead>
					<tr>
						<th colspan="2">Resultaten voor {{card}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each results}}
						<tr>
							<td style="width: 70px;"><img src="/avatar/{{_id}}.png" alt=""></td>
							<td>{{firstname}}</td>
							<td style="width: 170px;" class="align-right">
								<i class="fa fa-star{{Math.round(rating / ( players.length - 1)) >= 1 ? '' : '-o'}} rating"></i>
								<i class="fa fa-star{{Math.round(rating / ( players.length - 1)) >= 2 ? '' : '-o'}} rating"></i>
								<i class="fa fa-star{{Math.round(rating / ( players.length - 1)) >= 3 ? '' : '-o'}} rating"></i>
								<i class="fa fa-star{{Math.round(rating / ( players.length - 1)) >= 4 ? '' : '-o'}} rating"></i>
								<i class="fa fa-star{{Math.round(rating / ( players.length - 1)) >= 5 ? '' : '-o'}} rating"></i>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<button class="btn confirm" on-click="next">
				Volgende ronde <i class="fa fa-angle-double-right"></i>
			</button>
		</div>
	{{/if}}

	{{#if step == 1}}
		<div class="players">
			<ul>
				{{#each players}}
					<li class="player {{status}}" intro-outro="fly:{ x: 0, y: 150 }">
						<a href="#" class="remove" on-click="remove:{{this}}"><i class="fa fa-times"></i></a>
						{{#if step == 2}}
							<i class="fa fa-check check"></i>
						{{/if}}
						<div class="name">
							{{firstname}} {{lastname}}
						</div>
						<div class="avatar">
							<img src="/avatar/{{_id}}.png">
						</div>
						<div class="status">
							{{#if status == 'active'}}Verbonden{{/if}}
							{{#if status == 'disconnected'}}Verbinding verbroken{{/if}}
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
</script>

<script type="text/javascript">
	var token = Cookies.get('fbs_token');
	var url = 'http://' + window.location.hostname + ':1337';
	var socket = io(url, { query: 'token=' + token + '&role=host' });

	var Game = new Ractive({
		el: 'game',
		template: '#game-tpl',
		data: {
			step: null,
			card: null,
			players: [],
			results: {}
		}
	});

	Game.on({
		next: function(evt) {
			Game.set('step', 2);
			socket.emit('round.next');
			evt.original.preventDefault();
		},
		remove: function(evt, player) {
			socket.emit('player.remove', player._id);
			evt.original.preventDefault();
		}
	});

	socket.on('round.next', function(state) {
		Game.set('step', null).then(function() {
			Game.set('players', state.players);
			Game.set('card', state.card);
			Game.set('results', []);
			Game.set('step', 1);
		});
	});

	socket.on('gamestate', function(state) {
		Game.set('players', state.players);
		Game.set('card', state.card);

		if (state.players.length > 0 && state.players.length == state.playersReady) {
			Game.set('results', state.summary);
			Game.set('step', null).then(function() {
				Game.set('step', 2);
			});
		} else {
			Game.set('step', 1);
		}
	});

	// =======================================================
	// Testing testing testing testing testing testing testing
	// =======================================================

	// $.getJSON('/api/users', function(users) {
	// 	var results = {};

	// 	Game.set('step', 1);
	// 	Game.set('round.card', 'Poephoofd');

	// 	_.each(users, function(user) {
	// 		user.status = 'active';
	// 		user.step = 2;
	// 		Game.push('players', user);

	// 		var random = Math.round(Math.random() * 30);
	// 		results[user._id] = {
	// 			_id: user._id,
	// 			firstname: user.firstname,
	// 			rating: Math.round(random / ( users.length - 1))
	// 		};
	// 	});

	// 	results = _.sortBy(results, function(result) {
	// 		return result.rating;
	// 	}).reverse();

	// 	var highest = _.max(results, function(result) {
	// 		return result.rating;
	// 	});

	// 	console.log(highest.rating);
		
	// 	setTimeout(function() {
	// 		Game.set('results', results);
	// 		Game.set('step', null).then(function() {
	// 			Game.set('step', 2);
	// 		})
	// 	}, 500);
	// });

	// =======================================================
	// Testing testing testing testing testing testing testing
	// =======================================================

</script>