<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
	<div class="header-wrapper">
		<% include includes/header %>
	</div>
	<div class="site-wrapper">
		<div class="banner-wrapper">
			<div class="logo">
				<img src="/img/banner.png">
			</div>
			<!-- <div class="button">
				<% if (user) { %>
					<a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
				<% } else {%>
					<a href="/register"><i class="fa fa-user"></i> Registreren</a>
				<% } %>
			</div> -->
		</div>

		<div class="content-wrapper home">
		 	<div class="container row">
				<div class="col span-12">
					<h1>Welkom!</h1>
					<p>Hier kun je binnenkort mijn afstudeerproject vinden. Hou deze website in de gaten voor de nieuwste ontwikkelingen!</p>
				</div>
			</div>

			<!-- <div class="container row">
				<div class="col span-12">
					<h1>Wat is dit?</h1>
					<p>Op deze website kun je, na het registreren van een gratis account, een online feedbackspel spelen. Dit spel maakt het leuker en makkelijker om feedback te geven en ontvangen in groepsverband.</p>
					<p>De ontvangen feedback wordt automatisch opgeslagen in je persoonlijke profiel, en kun je later op ieder moment weer opvragen.</p>
				</div>
			</div>

			<hr>

			<div class="container row">
				<div class="col span-12">
					<h1>Waarom?</h1>
					<p>Het geven en ontvangen van feedback kan ontzettend waardevolle informatie opleveren. Hoe denken anderen over je? Wat zijn je positieve eigenschappen? Waar kan je nog aan werken? Door het spelen van dit spel wordt het makkelijker en leuker om een feedback sessie te organiseren.</p>
					<p>De ontvangen feedback bied een uitstekende basis om op te reflecteren en nieuwe (leer-)doelen op te stellen. Door geregeld feedback sessies te houden zal de samenwerking verbeteren en komen eventuele knelpunten snel boven water.</p>
				</div>
			</div>

			<hr>

			<div class="container row">
				<div class="col span-12">
					<h1>Met wie?</h1>
					<p>Het spel is bedoeld voor iedereen die geregeld samenwerkt in een team en graag wil weten hoe anderen over je denken. Je zou het feedbackspel bijvoorbeeld kunnen spelen met:</p>
					<ul>
						<li>Collega's</li>
						<li>Medestudenten</li>
						<li>Familieleden</li>
						<li>Vrienden</li>
						<li>Etc.</li>
					</ul>
				</div>
			</div> -->

		</div>
		<div class="footer-wrapper">
			<% include includes/footer %>
		</div>
	</div>

	<% include includes/scripts %>
</body>
</html>