<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>

<% include includes/top %>

<div class="content-wrapper">
	
	<div class="banner" id="banner">
		<div class="info">
			<img src="/img/banner.png" class="logo">
			<p class="first">Werk je samen in een team en wil je graag weten hoe anderen over je denken?</p>
			<p>Na het registreren van een gratis account kun je op deze website een feedbacksessie starten samen met je teamgenoten.</p>
			<p>Deze feedback maakt inzichtelijk waar je sterke en zwakke punten liggen, en bied waardevolle informatie om jezelf verder te kunnen ontwikkelen.</p>
		</div>
	</div>

	<div class="home content container">

		<h1>Het feedbackspel</h1>
		<div class="row">
			<div class="col span-6">
				<p>Het feedbackspel kan het best gespeeld worden in een groep van 3 tot ongeveer 8 personen.  Wanneer je bijvoorbeeld in een team zit met 5 personen heb je nodig:</p>
				<ul>
					<li>1 laptop</li>
					<li>5 smartphones</li>
				</ul>
				<p>Het spel wordt gestart op de laptop, en alle spelers kunnen deelnemen aan het spel via hun smartphone. De smartphone zal dienst doen als een afstandbediending en de laptop toont de resultaten van een feedback ronde.</p>
			</div>
			<div class="col span-6">
				<img src="/img/screenshots/1.png">
			</div>
		</div>

		<h1>Feedback geven</h1>
		<div class="row">
			<div class="col span-8">
				<p>Door een aantal sterren te verdelen over je medespelers kan je aangeven in hoeverre je een bepaalde eigenschap wel of niet bij een persoon vind horen.</p>
			</div>
			<div class="col span-4">
				<img src="/img/screenshots/2.png">
			</div>
		</div>

		<h1>Feedback ontvangen</h1>
		<div class="row">
			<div class="col span-8">
				<p>Nadat alle spelers feedback hebben gegeven gaat het spel verder en krijg je je persoonlijke feedback op het scherm van je smartphone te zien.</p>
			</div>
			<div class="col span-4">
				<img src="/img/screenshots/3.png">
			</div>
		</div>

		<h1>Resultaten</h1>
		<div class="row">
			<div class="col span-6">
				<p>Na iedere ronde wordt een samenvatting van de feedback op het scherm getoond. Uit dit overzicht valt op te maken wie het hoogst scoort voor een bepaalde eigenschap.</p>
				<p>De vraag dient beantwoord te worden door de groep, en de resultaten moeten besproken worden met de medespelers.</p>
			</div>
			<div class="col span-6">
				<img src="/img/screenshots/4.png">
			</div>
		</div>
	</div>

</div>

<% include includes/bottom %>

<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>