<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Feedbackspel.nl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
    <link rel="shortcut icon" href="/favicon.png">
</head>

<body>
	
	<div class="header">
		<img src="/img/logo_full.svg" class="logo">
		
	</div>

	<h1>Wat is dit?</h1>
	<p>Op deze website kun je, na het registreren van een gratis account, een online feedbackspel spelen. Dit spel maakt het leuker en makkelijker om feedback te geven en ontvangen in groepsverband.</p>
	<p>De ontvangen feedback wordt automatisch opgeslagen in je persoonlijke profiel, en kun je later op ieder moment weer opvragen.</p>
	
	<h1>Waarom?</h1>
	<p>Het geven en ontvangen van feedback kan ontzettend waardevolle informatie opleveren. Hoe denken anderen over je? Wat zijn je positieve eigenschappen? Waar kan je nog aan werken? Door het spelen van dit spel wordt het makkelijker en leuker om een feedback sessie te organiseren.</p>
	<p>De ontvangen feedback bied een uitstekende basis om op te reflecteren en nieuwe (leer-)doelen op te stellen. Door geregeld feedback sessies te houden zal de samenwerking verbeteren en komen eventuele knelpunten snel boven water.</p>

	<h1>Met wie?</h1>
	<p>Het spel is bedoeld voor iedereen die geregeld samenwerkt in een team en graag wil weten hoe anderen over je denken. Je zou het feedbackspel bijvoorbeeld kunnen spelen met:</p>
	<ul>
	    <li>Collega's</li>
	    <li>Medestudenten</li>
	    <li>Familieleden</li>
	    <li>Vrienden</li>
	    <li>Etc.</li>
	</ul>

</body>

</html>