<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="home">
	<% include includes/top %>
	<div class="content-wrapper">
		<div class="container">
			<div class="home-center">
				<div id="info">
					<div class="info front">
						<div class="logo"><img src="/img/banner.png"></div>
						<h1>Werk je samen in een team en wil je graag weten hoe anderen over je denken?</h1>
						<p>Na het registreren van een gratis account kun je op deze website een feedbacksessie starten samen met je teamgenoten.</p>
						<p>Deze feedback maakt inzichtelijk waar je sterke en zwakke punten liggen, en bied waardevolle informatie om jezelf verder te kunnen ontwikkelen.</p>
						<% if (user) { %>
							<a href="/dashboard" class="big-button"><i class="fa fa-home"></i> Dashboard</a>
						<% } else { %>
							<a href="/start" class="big-button"><i class="fa fa-sign-in"></i> Inloggen</a>
						<% } %>
					</div>			
				</div>
			</div>
		</div>
	</div>
	<% include includes/bottom %>
</body>
</html>