<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="body-grey">
	<div class="header">
		<% include includes/header %>
	</div>
	<div class="site-wrapper">
		<div class="content-wrapper">
			<div class="row">
				<div class="login-form col span-4 offset-4">
					
						<h2>Inloggen</h2>
						
						<label for="email">E-mail adres:</label>
						<input type="text">
					
						<label for="password">Wachtwoord:</label>
						<input type="password">

						<button>Inloggen</button>
					
				</div>
			</div>
				<!-- CONTENT -->
		</div>
		<div class="footer-wrapper">
			<% include includes/footer %>
		</div>
	</div>
</body>
</html>