extends layout/base
block content
	div.page-title
		h1 Inloggen
	div.container
		div.section
			div.fg
				div.label: label(for="email") E-mail:
				div.field: input(type="text", value="mijn@email.nl", id="email")
			div.fg
				div.label: label(for="password") Wachtwoord:
				div.field: input(type="password", value="ditisgeheim", id="password")
			div.fg
				div.field
					a.btn.confirm(href="dashboard") <i class="fa fa-sign-in"></i> Inloggen