<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
	<div class="header-wrapper">
		<% include includes/header %>
	</div>
	<div class="site-wrapper">
		<div class="content-wrapper">
			<div class="box page-form" style="width: 450px">
				<h2>Inloggen</h2>
				
				<% if (message) { %>
					<div class="flash-<%= message.type %>"><%- message.message %></div>
				<% } %>

				<form action="/login" method="post">

					<div class="row" style="margin-bottom: 10px">
						<div class="col span-12">
							<label for="email">E-mail adres:</label><br>
							<input type="text" name="email" value="<%= email %>" class="text" id="email">
						</div>
					</div>

					<div class="row" style="margin-bottom: 20px">
						<div class="col span-12">
							<label for="password">Wachtwoord:</label><br>
							<input type="password" name="password" value="" class="text" id="password">
						</div>
					</div>

					<div class="row">
						<div class="col span-12">
							<button class="btn confirm"><i class="fa fa-sign-in"></i> Inloggen</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="footer-wrapper">
			<% include includes/footer %>
		</div>
	</div>
</body>
</html>