<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
<% include includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row">
			<div class="box col span-6 offset-3">
				<h2>Inloggen</h2>
				<% if (message) { %>
					<div class="flash-<%= message.type %>"><%- message.text %></div>
				<% } %>
				<form action="/login" method="post">
					<div class="row" style="margin-bottom: 15px">
						<div class="col span-12">
							<label for="email" class="label">E-mail adres:</label><br>
							<input type="email" name="email" value="<%= email %>" class="text" id="email">
						</div>
					</div>
					<div class="row" style="margin-bottom: 15px">
						<div class="col span-12">
							<label for="password" class="label">Wachtwoord:</label><br>
							<input type="password" name="password" value="" class="text" id="password">
						</div>
					</div>
					<div class="row">
						<div class="col span-12">
							<button class="btn confirm"><i class="fa fa-sign-in"></i> Inloggen</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% include includes/bottom %>
</body>
</html>