<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body class="ingame client">
<% include includes/sidebar %>
<div class="site-wrapper" id="content">
	<!-- Users will be rendered here -->
</div>
<% include includes/scripts %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/template" id="template">

	<ul class="actions">
		<li>
			<a href="/dashboard" title="Spel verlaten" on-click="leave">
				<i class="fa fa-fw fa-sign-out"></i>
			</a>
		</li>
	</ul>

	<div class="content container">

		{{#if step == 1}}
			<div class="player-select">
				{{#if players.length > 1}}
					<h1>{{card}}:</h1>
					<ul class="players">
						{{#each players}}
							{{#if (_id != userId)}}
								<li>
									<div class="avatar"><img src="/avatar/{{_id}}.png"></div>
									<div class="name">{{firstname}} {{lastname}}</div>
									<div class="rating">
										<a href="#" on-tap="setRating:1">
											<i class="fa fa-star{{rating[_id] >= 1 ? '' : '-o'}}"></i>
										</a>
										<a href="#" on-tap="setRating:2">
											<i class="fa fa-star{{rating[_id] >= 2 ? '' : '-o'}}"></i>
										</a>
										<a href="#" on-tap="setRating:3">
											<i class="fa fa-star{{rating[_id] >= 3 ? '' : '-o'}}"></i>
										</a>
										<a href="#" on-tap="setRating:4">
											<i class="fa fa-star{{rating[_id] >= 4 ? '' : '-o'}}"></i>
										</a>
										<a href="#" on-tap="setRating:5">
											<i class="fa fa-star{{rating[_id] >= 5 ? '' : '-o'}}"></i>
										</a>
									</div>
								</li>
							{{/if}}
						{{/each}}
					</ul>
					<div class="button-bar">
						<a href="#" class="btn confirm" on-click="ready"><i class="fa fa-check"></i> Ik ben klaar</a>
					</div>
				{{/if}}
			</div>
		{{/if}}

		{{#if step == 2}}
			<div class="waiting">
				<h1>Feedback verzonden!</h1>
				<p><strong>{{playersReady}}</strong> van de <strong>{{players.length}}</strong> spelers zijn klaar.. <i class="fa fa-spin fa-spinner"></i> </p>
			</div>
		{{/if}}

		{{#if step == 3}}
			<div class="results">
				<h1>Ontvangen feedback:</h1>
				<ul>
					{{#each results}}
						<li>
							<div class="from">
								<div class="avatar"><img src="/avatar/{{from._id}}.png"></div>
								<div class="name">Van <strong>{{from.firstname}}</strong> kreeg je:</div>
							</div>
							<div class="rating">
								<i class="fa fa-star{{rating >= 1 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 2 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 3 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 4 ? '' : '-o'}}"></i>
								<i class="fa fa-star{{rating >= 5 ? '' : '-o'}}"></i>
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
	</div>

</script>

<script type="text/javascript" src="/js/player.js"></script>
</body>
</html>