<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
	<div class="header-wrapper">
		<div class="container">
			<a href="/" class="logo"><img src="/img/badge.svg"></a>
			<ul class="menu">
				<li><a href="/login"><i class="fa fa-sign-in"></i> Inloggen</a></li>
			</ul>
		</div>
	</div>
	<div class="site-wrapper">
		<div class="content-wrapper">
			<div class="box page-form" id="content" style="width: 640px;">
			</div>
		</div>
		<div class="footer-wrapper">
			<% include includes/footer %>
		</div>
	</div>
	<!-- <script type="text/javascript" src="/js/libs/zepto.min.js"></script>
	<script type="text/javascript" src="/js/libs/happy.js"></script> -->

	<script type="text/template" id="template">
		<h2>Registreren</h2>
		{{#if errors}}
			<div class="flash-error">Niet alle velden zijn correct ingevuld.</div>
		{{/if}}
		<form action="/register" method="post" id="register-form" on-submit="validate">
			<div class="row" style="margin-bottom: 15px">
				<div class="col span-4">
					<label for="email">E-mail adres</label>
				</div>
				<div class="col span-8{{hasError('email')}}">
					<input type="text" name="email" value="{{input.email}}" class="text" id="email">
					<i class="required"></i>
				</div>
			</div>

			<div class="row" style="margin-bottom: 15px">
				<div class="col span-4">
					<label for="firstname">Voornaam</label><br>
				</div>
				<div class="col span-8{{hasError('firstname')}}">
					<input type="text" name="firstname" value="{{input.firstname}}" class="text" id="firstname">
					<i class="required"></i>
				</div>
			</div>

			<div class="row" style="margin-bottom: 15px">
				<div class="col span-4">
					<label for="lastname">Achternaam</label><br>
				</div>
				<div class="col span-8{{hasError('lastname')}}">
					<input type="text" name="lastname" value="{{input.lastname}}" class="text" id="lastname">
					<i class="required"></i>
				</div>
			</div>

			<div class="row" style="margin-bottom: 15px">
				<div class="col span-4">
					<label>Ik ben een</label>
				</div>
				<div class="col span-8{{hasError('gender')}}">
					<label><input type="radio" name="{{input.gender}}" value="m" class="radio" checked> Man</label>
					<label><input type="radio" name="{{input.gender}}" value="f" class="radio"> Vrouw	</label>
					<i class="required"></i>
				</div>
			</div>

			<div class="row" style="margin-bottom: 15px">
				<div class="col span-4">
					<label for="password">Wachtwoord</label>
				</div>
				<div class="col span-8{{hasError('password')}}">
					<input type="password" name="password" value="{{input.password}}" class="text" id="password">
					<i class="required"></i>
				</div>
			</div>

			<div class="row" style="margin-bottom: 20px">
				<div class="col span-4">
					<label for="password_repeat">Herhaal wachtwoord</label>
				</div>
				<div class="col span-8{{hasError('password_repeat')}}">
					<input type="password" name="password_repeat" value="{{input.password_repeat}}" class="text" id="password_repeat">
					<i class="required"></i>
				</div>
			</div>

			<div class="row">
				<div class="col span-12">
					<button class="btn confirm"><i class="fa fa-user"></i> Registreren</button>
				</div>
			</div>
		</form>
	</script>
	<script type="text/javascript" src="/js/libs/zepto.min.js"></script>
	<script type="text/javascript" src="/js/libs/ractive.min.js"></script>
	<script type="text/javascript" src="/js/libs/validator.min.js"></script>
	<script type="text/javascript" src="/js/register.js"></script>
</body>
</html>