<!DOCTYPE html>
<html lang="nl">
<head>
	<% include partials/head %>
</head>
<body>

<% include partials/top %>

<div class="content-wrapper">
	<div class="content container">
		<div class="row">
			<div class="box col span-6 offset-3 align-center" id="avatar">
				<!-- AvatarSelect -->
			</div>
		</div>
	</div>
</div>

<% include partials/bottom %>

<script type="text/template" id="avatar-tpl">
	<div class="select-avatar">
		{{#uploading}}
			<div class="message" intro="fade:{ duration: 250 }">
				<p><i class="fa fa-spinner fa-spin fa-4x"></i></p>
				<p>Afbeelding uploaden...</p>
			</div>
		{{/uploading}}
		{{#uploaded}}
			<div class="message" outro="fade:{ duration: 250 }">
				<p><i class="fa fa-check-circle fa-4x accent-color"></i></p>
				<p>Afbeelding ge&uuml;pload!</p>
			</div>
		{{/uploaded}}
		<h1>Upload je profielfoto</h1>
		<form class="upload-form">
			<label class="file-input">
				<div>
					<div class="avatar avatar-preview"{{#if image.base64}} style="background-image: url('{{image.base64}}')"{{/if}}></div>
				</div>
				<i class="fa fa-picture-o"></i> Selecteer afbeelding
				<input type="file" value="{{file}}" on-change="uploadImage">
			</label>
		</form>
	</div>
</script>

<script type="text/javascript" src="/js/select-avatar.js"></script>
<script type="text/javascript">
	var avatarSelect = new AvatarSelect({
		el: 'avatar',
		template: '#avatar-tpl'
	});
</script>
</body>
</html>