<!DOCTYPE html>
<html lang="nl">
<head>
	<% include partials/head %>
</head>
<body class="start">
<% include partials/top %>
<div class="content-wrapper">
	<div class="content container" id="content">
		<!-- Content will be rendered here -->
	</div>
</div>
<% include partials/bottom %>

<script type="text/template" id="template">
	{{#if action == 'login'}}
		<div class="box email-form">
			<h1>Vul je e-mailadres in</h1>
			{{#if error}}
				<div class="flash-error" intro-outro="slide">{{error}}</div>
			{{/if}}
			<p>Voer hieronder je e-mailadres in zodat we kunnen controleren of je al een account bij ons hebt.</p>
			<form on-submit="validateEmail">
				<div class="form-group">
					<input value="{{input.email}}" type="email" class="text" id="email" autocomplete="off">
				</div>
				<div class="form-group">
					<button type="submit" class="btn confirm">Volgende <i class="fa fa-chevron-right"></i></button>
				</div>
			</form>
		</div>
	{{/if}}

	{{#if action == 'register'}}
		<div class="box register-form">
			<h1>Registreren</h1>
			{{#if error}}
				<div class="flash-error" intro-outro="slide">{{error}}</div>
			{{/if}}
			<p>Het opgegeven e-mailadres is nog niet bij ons bekend, vul de onderstaande velden in om een nieuw account te registreren.</p>
			<form on-submit="validateRegister">
				<div class="form-group">
					<div class="label">E-mailadres:</div>
					<div class="field bold">{{input.email}}</div>
				</div>
				<div class="form-group">
					<div class="label"><label for="firstname">Voornaam:</label></div>
					<div class="field">
						<input type="text" value="{{input.firstname}}" class="text" id="firstname"autocomplete="off"autocomplete="off">
						<i class="required"></i>
					</div>
				</div>
				<div class="form-group">
					<div class="label"><label for="lastname">Achternaam:</label></div>
					<div class="field">
						<input type="text" value="{{input.lastname}}" class="text" id="lastname"autocomplete="off">
						<i class="required"></i>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn confirm">Volgende <i class="fa fa-chevron-right"></i></button>
				</div>
				<hr>
				<a on-click="gotoLogin"><i class="fa fa-angle-left"></i> Ga terug</a>
			</form>
		</div>
	{{/if}}
</script>

<script type="text/javascript" src="/js/libs/validator.min.js"></script>
<script type="text/javascript" src="/js/start.js"></script>
</body>
</html>