<!DOCTYPE html>
<html lang="nl">
<head>
	<% include partials/head %>
	<style type="text/css">
		.avatarr {
			width: 64px;
			height: 64px;
			line-height: 64px;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			font-size: 50px;
			font-weight: bold;
			display: inline-block;
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
			margin: 0 10px 8px 0;
		}

		.avatarr.a { background-color: #9FF781 }
		.avatarr.b { background-color: #81F7F3 }
		.avatarr.c { background-color: #F3F781 }
		.avatarr.d { background-color: #81BEF7 }
		.avatarr.e { background-color: #D8F781 }
		.avatarr.f { background-color: #F4A99F }
		.avatarr.g { background-color: #DA81F5 }
		.avatarr.h { background-color: #81DAF5 }
		.avatarr.i { background-color: #819FF7 }
		.avatarr.j { background-color: #BE81F7 }
		.avatarr.k { background-color: #B5C9F2 }
		.avatarr.l { background-color: #F79F81 }
		.avatarr.m { background-color: #81F7BE }
		.avatarr.n { background-color: #81F7D8 }
		.avatarr.o { background-color: #BEF781 }
		.avatarr.p { background-color: #81F781 }
		.avatarr.q { background-color: #9F81F7 }
		.avatarr.r { background-color: #F5DA81 }
		.avatarr.s { background-color: #F78181 }
		.avatarr.t { background-color: #F7BE81 }
		.avatarr.u { background-color: #F7819F }
		.avatarr.v { background-color: #F781BE }
		.avatarr.w { background-color: #F781D8 }
		.avatarr.x { background-color: #81F79F }
		.avatarr.y { background-color: #8181F7 }
		.avatarr.z { background-color: #F781F3 }

	</style>
</head>
<body>

<% include partials/top %>

<div class="content-wrapper">
	<div class="home content container">
		<span class="avatarr a">A</span>
		<span class="avatarr b">B</span>
		<span class="avatarr c">C</span>
		<span class="avatarr d">D</span>
		<span class="avatarr e">E</span>
		<span class="avatarr f">F</span>
		<span class="avatarr g">G</span>
		<span class="avatarr h">H</span>
		<span class="avatarr i">I</span>
		<span class="avatarr j">J</span>
		<span class="avatarr k">K</span>
		<span class="avatarr l">L</span>
		<span class="avatarr m">M</span>
		<span class="avatarr n">N</span>
		<span class="avatarr o">O</span>
		<span class="avatarr p">P</span>
		<span class="avatarr q">Q</span>
		<span class="avatarr r">R</span>
		<span class="avatarr s">S</span>
		<span class="avatarr t">T</span>
		<span class="avatarr u">U</span>
		<span class="avatarr v">V</span>
		<span class="avatarr w">W</span>
		<span class="avatarr x">X</span>
		<span class="avatarr y">Y</span>
		<span class="avatarr z">Z</span>
	</div>
</div>

<% include partials/bottom %>

<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>