<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
<% include includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row section">
			<div class="box col span-12" id="users">
				<!-- User table will be rendered here -->
			</div>
		</div>
	</div>
</div>
<% include includes/bottom %>

<script type="text/template" id="tpl">
	<h1>Gebruikers</h1>
	<div class="responsive-table">
		<table>
			<thead>
				<tr>
					<th>Email</th>
					<th>Voornaam</th>
					<th>Achternaam</th>
					<th>Gemaakt</th>
				</tr>
			</thead>
			<tbody>
				{{#each items}}
					<tr>
						<td>{{email}}</td>
						<td>{{firstname}}</td>
						<td>{{lastname}}</td>
						<td>{{created_at}}</td>
						<td class="icons">
							<a href="#" on-click="deleteUser:{{this}}"><i class="fa fa-trash-o"></i></a>
							<a href="#" on-click="editUser:{{this}}"><i class="fa fa-edit"></i></a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	{{#if editing}}
		<div class="modal-overlay" intro-outro="fade:{ duration: 300 }" on-click="closeModal">
			<div class="modal" on-click="stopPropagation" intro-outro="fly:{ x: 0, y: -200, duration: 400 }">
				<h1>Gebruiker bewerken</h1>
				<form on-submit="save">
					<div class="row" style="margin-bottom: 15px;">
						<div class="col span-4"><label for="email">E-mail adres</label></div>
						<div class="col span-8">
							<input type="text" name="email" value="{{editing.email}}" class="text" id="email">
							<i class="required"></i>
						</div>
					</div>

					<div class="row" style="margin-bottom: 15px">
						<div class="col span-4"><label for="firstname">Voornaam:</label><br></div>
						<div class="col span-8">
							<input type="text" name="firstname" value="{{editing.firstname}}" class="text" id="firstname">
							<i class="required"></i>
						</div>
					</div>

					<div class="row" style="margin-bottom: 15px">
						<div class="col span-4"><label for="lastname">Achternaam:</label><br></div>
						<div class="col span-8">
							<input type="text" name="lastname" value="{{editing.lastname}}" class="text" id="lastname">
							<i class="required"></i>
						</div>
					</div>

					<div class="row" style="margin-bottom: 15px">
						<div class="col span-4"><label for="password">Nieuw wachtwoord:</label><br></div>
						<div class="col span-8">
							<input type="password" name="password" value="{{editing.password}}" class="text" id="password">
							<i class="required"></i>
						</div>
					</div>

					<div class="row" style="margin-bottom: 15px">
						<div class="col span-4"><label>Geslacht:</label></div>
						<div class="col span-8">
							<label><input type="radio" name="gender" value="m" checked="{{editing.gender}}" class="radio"> Man</label>
							<label><input type="radio" name="gender" value="f" checked="{{editing.gender}}" class="radio"> Vrouw</label>
							<i class="required"></i>
						</div>
					</div>

					<div class="row">
						<div class="col span-12">
							<button class="btn confirm"><i class="fa fa-save"></i> Opslaan</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	{{/if}}
	{{#if deleting}}
		<div class="modal-overlay" intro-outro="fade:{ duration: 300 }" on-click="closeModal">
			<div class="modal" on-click="stopPropagation" intro-outro="fly:{ x: 0, y: -200, duration: 400 }">
				<h1>Gebruiker verwijderen?</h1>
				<div class="row">
					<div class="col span-12">
						<button class="btn" on-click="closeModal"><i class="fa fa-chevron-left"></i> Annuleren</button>
						<button class="btn confirm" on-click="delete"><i class="fa fa-trash-o"></i> Verwijderen</button>
					</div>
				</div>
			</div>
		</div>
	{{/if}}
</script>
<script type="text/javascript">
	var Users = new Ractive({
		el: 'users',
		template: '#tpl',
		data: {
			items: [],
			editing: null,
			deleting: null
		}
	});

	Users.on({
		editUser: function(evt, user) {
			Users.set('editing', user);
			evt.original.preventDefault();
		},
		save: function(evt) {
			var user = Users.get('editing');
			$.post('/api/users/save', user, function(users) {
				Users.set('items', users);
				Users.set('editing', null);
			});
			evt.original.preventDefault();
		},
		deleteUser: function(evt, user) {
			Users.set('deleting', user);
			evt.original.preventDefault();
		},
		delete: function(evt, user) {
			console.log(user);
		},
		closeModal: function(evt) {
			Users.set('editing', null);
			Users.set('deleting', null);
		},
		stopPropagation: function(evt) {
			evt.original.stopPropagation();
		}
	});

	$.getJSON('/api/users/all', function(users) {
		Users.set('items', users);
	});
</script>
</body>
</html>