<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body>
<% include ../includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row">
			<div class="box col span-12" id="content">
				:(
			</div>
		</div>
	</div>
</div>
<% include ../includes/bottom %>
<script type="text/javascript" src="/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/js/libs/backbone.min.js"></script>
<script type="text/javascript">
var Router = Backbone.Router.extend({
	routes: {
		'users': 'users',
		'sessions': 'sessions',
	},

	users: function() {
		var UserController = new Ractive({
			el: 'content',
			template: '<h1>Users</h1>'
		});
	},

	sessions: function() {
		var SessionController = new Ractive({
			el: 'content',
			template: '<h1>Sessions</h1>'
		});
	}
});

new Router();

Backbone.history.start();
</script>
</body>
</html>