<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
<div id="content">
	<!-- content -->
</div>

<script type="text/javascript" src="/js/libs/ractive.min.js"></script>

<script type="text/template" id="template">
	<h1>Test</h1>
	<p>Medespelers: <input type="text" size="5" value="{{opponents}}"></p>
	<p>{{available}} ({{available - opponents}})</p>
</script>

<script type="text/javascript">
	var ractive = new Ractive({
		el: 'content',
		template: '#template',
		data: { opponents: 5, available: 0 }
	});

	ractive.observe('opponents', function(newValue, oldValue, keypath) {
		if (newValue) {
			var opponents = parseInt(newValue);
			var available = (opponents == 1) ? 5 : opponents * 3 + (Math.floor(opponents / 2));

			ractive.set('available', available);
		}
	});

</script>
</body>
</html>